<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CONVERTIDOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <ion-card class="conver">
    <ion-card-header>
      <ion-card-title>CONVERTIDOR DE MONEDAS</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-radio-group [(ngModel)]="tipoMoneda">
          <ion-list-header>
            <ion-label class="letra">Selecciona el tipo de moneda:</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Dolar</ion-label>
            <ion-radio value="dolarP"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Euro</ion-label>
            <ion-radio value="euroP"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Peso</ion-label>
            <ion-radio value="pesoP"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Bolivares</ion-label>
            <ion-radio value="bolivarP"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Rupia</ion-label>
            <ion-radio value="rupiaP"></ion-radio>
          </ion-item>

        </ion-radio-group>
      </ion-list>

      <ion-label class="letra">Inserta la cantidad de dinero</ion-label>
      <ion-input class="borde" [(ngModel)]="cantidadDinero"></ion-input>
      <ion-item>
        <ion-label>Selecciona a que quieres convertir</ion-label>
        <ion-select [(ngModel)]="opcionSeleccionada">
          <ion-select-option value="opcion1">Euros</ion-select-option>
          <ion-select-option value="opcion1">Dlares</ion-select-option>
          <ion-select-option value="opcion1">Rupia</ion-select-option>
          <ion-select-option value="opcion1">Bolivares</ion-select-option>
          <ion-select-option value="opcion1">Pesos</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button (click)="conversion()">conversion</ion-button>
      <p class="letra">El resultado de la conversion es: {{ resultadoConversion }}</p>


    </ion-card-content>
  </ion-card>
</ion-content>
